/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Smooth Scroll for future use */
html {
    scroll-behavior: smooth;
}

#singapore-map {
    height: 99vh;
    width: 83vw;
}

.sidebar{
    height: 99vh;
    width: 20vw;
    background-color: #f5b642;
}
