body{
    background-color: salmon;
    height: 100%;
    width: 100%;
}
.overlay{
    position:absolute;
    z-index: 99992;
    width: 100%;
    border-style: none;
    transition-duration: 0.5s;
    transform: translateX(0vw);
    cursor: pointer;
}
.overlay--open{
    transform: translateX(-200vw);
    transition-duration: 1s;
}
.backgroundImage{
    position:absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    border-style: none;
    background-color: rgba(0,0,0, 0.7);
    transition-duration: 0.5s;
}
.welcome{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: seashell;
    font-family: 'Rubik', sans-serif;

}
.highlightCircle{
    position: absolute;
    z-index: 99999;
    top: 21.5vh;
    left:-24px;
    height: 120px;
    width: 120px;
    background-color: rgba(122, 197, 92, 0.7);
    box-shadow:0 0 70px rgba(207, 255, 187, 0.8);
    border-style:none;
    border-radius: 60px;

}
.clickExit{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: seashell;
    font-family: 'Rubik', sans-serif;



}
/* Map */
#singapore-map {
    height: 100vh;
    width: 100vw;
}
/* main logo */
#runningmanlogobox{
    position:absolute;
    z-index: 9999;
    top: 02px;
    left: 40px;
}
.runningmanlogo{
    height: 100px;
}
.runningmanlogo:hover{
    transform: translateX(-500px);
    transition-delay: 1s;
    transition-duration: 1.5s;
}


/* Menu/sidebar */
.d{
    position:absolute;
    z-index: 9999;
    top: 35vh;
    margin-left: 02px;
    transform:translateX(-302px);
    transition-duration: 1s;
    
}

.d--open{
    transform: translateX(15px);
    transition-duration: 1s;
}
/*  Toggle button */
.btn-burger{
    position: absolute;
    z-index: 9999;
    top: 25vh;
    left:5px;
    height: 45px;
    width: 45px;
    background-color: rgb(84, 2, 142);
    border-style:none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-burger:hover{
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function:ease-in-out;
    transform:rotate(-35deg);
    transition-duration: 0.5s;
    background-color: rgb(164, 128, 196);
    box-shadow:0 0 8px rgba(198, 117, 255, 0.8)
}


/*  Hamburger icon from materials.io */
#btnMenu{
    font-size: 35px;
    color: snow;
}


/*  Tab Row */
#nav-tab {
    position: relative;
    width: 300px;
    background-color: rgba(10, 10, 10, 0.8);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color:white;
    justify-content: space-evenly;
    border-style: none;
    border-top-right-radius: 05px;
    border-top-left-radius: 05px;
    left: 0px;
    transition:left 0.4s ease;
}
.show{
    left:400px;
}
.nav-link{
    color: snow;
}
.nav-link:hover{
    color: rgb(167, 60, 243);
}
.nav-tabs .nav-link.active{
    border-style: none;
    color: rgb(167, 60, 243);
    background-color: rgba(10, 10, 10, 0.3);
    border-top-left-radius: 05px;
    border-top-right-radius: 05px;
}
.nav-tabs .nav-link{
    border-style: none;
}


.dropdown-item{
    color: snow;
}

.tab-content{
    position:relative;
    max-height: 500px;
    
    color: snow;
    background-color: rgba(10, 10, 10, 0.8);
    font-family: 'Rubik', sans-serif;
    border-bottom-left-radius: 05px;
    border-bottom-right-radius: 05px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.list-unstyled{
    cursor: pointer;
    max-height: 380px;
    overflow: scroll;
    overflow-x:hidden;
    scroll-margin-right:5px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent, rgb(167, 60, 243) )
    
}
::-webkit-scrollbar-track-piece{
    background:rgba(10, 10, 10, 0.8);
}

.form-check-label:hover{
    color: rgb(167, 60, 243);
    
}
.dropdown-item:hover{
    background-color: rgba(58, 58, 58, 0.1);
    color: rgb(167, 60, 243);
    
}




