#singapore-map {
    height: 100vh;
    width: 100vw;
}

body {background-color: coral;
}

.navbar-brand {background-color:transparent;
    padding-left: 50px;

}
#sideMenu{
    position:absolute;
    z-index: 9999;
    
}

.btn{
    position: absolute;
    top: 340px;
    left:5px;
    height: 45px;
    width: 45px;
    border-radius: 3px;
    text-align: center;
    
}
.btn.click{
    left: 200px;
}
.burgericon{
    height: 40px;
    width: 40px;
    cursor:pointer;
}
.burgericon:hover{
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transform:rotate(90deg);
    opacity: 1;
}


#nav-tab {
    width: 400px;
    margin-top: 41vh;
    margin-left: 02px;
    background-color: rgba(10, 10, 10, 0.8);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color:white;
    border-style: none;
    border-top-right-radius: 05px;
    border-top-left-radius: 05px;
    left: 0px;
    transition:left 0.4s ease;
}
.show{
    left:400px;
}
.nav-link{
    color: snow;
}
.nav-link:hover{
    color: rgb(167, 60, 243);
}
.nav-tabs .nav-link.active{
    border-style: none;
    color: rgb(167, 60, 243);
    background-color: rgba(10, 10, 10, 0.3);
    border-top-left-radius: 05px;
    border-top-right-radius: 05px;
}
.nav-tabs .nav-link{
    border-style: none;
}


.dropdown-item{
    color: snow;
}


.tab-content{
    width: 400px;
    margin-bottom: 1vh;
    margin-left:02px;
    padding-left: 20px;
    color: snow;
    background-color: rgba(10, 10, 10, 0.8);
    font-family: 'Rubik', sans-serif;
    border-bottom-left-radius: 05px;
    border-bottom-right-radius: 05px;
}
.tab-pane{
    cursor: pointer;
}
.list-unstyled{
    cursor: pointer;
    padding-bottom: 25px;
}

.form-check-label:hover{
    color: rgb(167, 60, 243);
    
}
.dropdown-item:hover{
    background-color: rgba(10, 10, 10, 0.8);
    color: rgb(167, 60, 243);
    
}




